body {
  background-color: #f2f2f2;
}

ul {
  list-style-type: none;
  padding: 0;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

