/* Reset default styles */
body,
h1,
ul,
li,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Set global styles */
body {
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: purple;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid purple;
  border-radius: 5px;
  margin-bottom: 10px;
  color: purple;
}

button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

